---
title: bech Smartly -  seekh kar bech, smartly bech.
---
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <%= image_tag 'logo.png', :class => 'display-logo' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3 class="title special-font">A workshop series on “How to become a better service provider” for existing and budding providers like Travel agents, Real Estate agents, Insurance agents etc.</h3>
        <br>
        <p>
          Broken down into 5 sessions, this series aims to empower today’s service providers. A service provider today, needs better understanding about their customers to serve them better, thus leading to a professional growth.
          <br><br>
          <mark>The first introductory session is absolutely FREE of cost</mark>, so that you can get a good idea about the entire series. Do not hesitate to register!<br>
        </p>
        <br>
        <p class="ctx-center-big"><span class="underline">Kindly scroll below to know more</span> &nbsp;&nbsp;&nbsp;&#8595;</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'graphics.png', :class => 'graphic' %>
      </div>
    </div>
  </div>
  <br>
</header>

<nav>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <a href="#"><%= image_tag "logo-w-tx.png", :class=> 'nav-logo' %></a>
      </div>
      <div class="col-md-7 content-right">
        <ul>
          <li> <a href="#">About this series</a> </li>
          <li> <a href="#">How does it help you</a> </li>
          <li> <a href="#">FAQs</a> </li>
          <li> <a href="#">What people are saying</a> </li>
          <li> <a href="#">About us</a> </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<section class="content-para">
  <hr class="green-line">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="title">About this series</h1>
        <br>
        <h3>Upcoming introductory session</h3>
        <div class="pre">
          <div class="bold">Topic</div>
          <div>“Changing Trends in Service Industry”</div>
          <br>
          <div class="bold">Venues &amp; Dates</div>
          <div>Thane 22th May, CBD Belapur 23rd May, Goregaon 24th May</div>
          <br>
          <div class="bold">Timings</div>
          <div>Morning slot (&nbsp;11am-2pm&nbsp;) &amp; Evening Slot (&nbsp;3pm-6pm&nbsp;)</div>
          <br>
          <div class="bold">Speaker</div>
          <div>Sonu Bajaj <span class="small">(click to know about the speaker)</span></div>
          <br>
          <div class="bold">Price</div>
          <div>FREE (<del>₹ 1500</del>)</div>
        </div>
        <br><br>
        <h3>The entire series</h3>
        <table class="table">
          <tr>
            <td>#1</td>
            <td class="bold">Changing Trends in Service Industry</td>
            <td>description&nbsp;&oplus;</td>
          </tr>
          <tr>
            <td>#2</td>
            <td>
              <div class="bold">Understanding customer behavior</div>
            </td>
            <td>description&nbsp;&oplus;</td>
          </tr>
          <tr>
            <td>#3</td>
            <td class="bold">Domain specific customer behavior</td>
            <td>description&nbsp;&oplus;</td>
          </tr>
          <tr>
            <td>#4</td>
            <td class="bold">Delivering profitable customer experience</td>
            <td>description&nbsp;&oplus;</td>
          </tr>
          <tr>
            <td>#5</td>
            <td class="bold">How to grow your customer base - crucial aspects of marketing</td>
            <td>description&nbsp;&oplus;</td>
          </tr>
        </table>
      </div>
      <div class="col-md-5">
        <div class="register-container">
          <dialog id="register" data-spy="affix" data-offset-top="710" class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Upcoming introductory session</h3>
            </div>
            <div class="pre col-md-11 ctx-mrgn-s">
              <div class="bold">Topic</div>
              <div>“Changing Trends in Service Industry”</div>
              <div class="bold ctx-mrgn-s">Venues &amp; Dates</div>
              <div>Thane 22th May, CBD Belapur 23rd May, Goregaon 24th May</div>
              <div class="bold ctx-mrgn-s">Price</div>
              <div>FREE (<del>₹ 1500</del>)</div>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
              </span>
              <input type="text" class="form-control" placeholder="Full Name (e.g John Doe)">
            </div>
            <div class="input-group ctx-mrgn-m">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-envelope"></span>
              </span>
              <input type="email" class="form-control" placeholder="Email (e.g abc@domain.com)">
            </div>
            <div class="input-group ctx-mrgn-m">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-phone"></span>
              </span>
              <input type="text" class="form-control" placeholder="Phone no. (e.g +91-9876543210)">
            </div><br>
            <div class="content-center">
              <button type="button" class="btn btn-primary btn-lg">Register now</button>
            </div>
          </dialog>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-para">
  <hr class="green-line">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="title">How does it help you</h1>
        <br><br>
        <p class="benefit">
          <span class="glyphicon glyphicon-ok"></span>&nbsp;
          Benefit #1<br>
        </p>
        <br>
        <p class="benefit">
          <span class="glyphicon glyphicon-ok"></span>&nbsp;
          Benefit #2<br>
        </p>
        <br>
        <p class="benefit">
          <span class="glyphicon glyphicon-ok"></span>&nbsp;
          Benefit #3<br>
        </p>
        <br>
        <p class="benefit">
          <span class="glyphicon glyphicon-ok"></span>&nbsp;
          Benefit #4<br>
        </p>
        <br>
        <p class="benefit">
          <span class="glyphicon glyphicon-ok"></span>&nbsp;
          Benefit #5<br>
        </p>
      </div>
    </div>
  </div>
  <br>
</section>

<section class="content-para">
  <hr class="green-line">
  <div class="container">
    <div class="col-md-7" id="container">
      <h1 class="title">FAQs</h1>
      <br><br>
      <div class="list-group">
        <% data.faqs.faqs.each_with_index do |faq, index| %>
          <a href="#" class="list-group-item faq <%= 'current' if index == 0 %>">
            <div class="list-group-item-heading">
              <span class="col-md-1">Q: </span> <span class="col-md-10"><%= faq.q %></span>
              <span class="clearfix"></span>
              <span class="glyphicon glyphicon-plus-sign"></span>
              <span class="glyphicon glyphicon-minus-sign"></span>
            </div>
            <p class="list-group-item-text"><span class="col-md-1"><small>Ans: </small></span><small class="col-md-10"><%= faq.a %></small></p>
            <span class="clearfix"></span>
          </a>
        <% end %>
      </div>
      <br>
    </div>
  </div>
</section>

<section class="content-para green-textured-back">
  <div class="container">
    <div class="col-md-8" id="container">
      <h1 class="title">What people are saying</h1>
      <br><br><br>
      <%= image_tag 'sticky5-new.png', :class => 'sticky sticky1' %>
      <%= image_tag 'sticky2-new.png', :class => 'sticky sticky2' %>
      <%= image_tag 'sticky3-new.png', :class => 'sticky sticky3' %>
      <%= image_tag 'sticky4-new.png', :class => 'sticky sticky4' %>
      <%= image_tag 'sticky1-new.png', :class => 'sticky sticky5' %>
    </div>
  </div>
  <br><br>
</section>

<section class="content-para">
  <hr class="green-line">
  <div class="container">
    <div class="col-md-7" id="container">
      <h1 class="title">About us</h1>
      <br><br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sollicitudin nibh ut purus volutpat, ac porttitor orci congue. Vestibulum eu metus convallis enim porta luctus ac vulputate augue. Mauris tristique tincidunt felis, a mattis nisi auctor quis. Vestibulum augue elit, pulvinar vitae tincidunt non, vestibulum non mauris. Nunc fermentum quis risus eget iaculis. Phasellus ac nisl dictum ligula auctor tempus quis rhoncus mi. Cras quis massa a risus fringilla ornare. Ut vitae pharetra purus. Curabitur tellus eros, ornare bibendum elementum commodo, luctus hendrerit arcu. Pellentesque porttitor venenatis justo quis blandit. Sed ac iaculis tellus, eget congue enim. Suspendisse sed aliquam nisi.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sollicitudin nibh ut purus volutpat, ac porttitor orci congue. Vestibulum eu metus convallis enim porta luctus ac vulputate augue. Mauris tristique tincidunt felis, a mattis nisi auctor quis. Vestibulum augue elit, pulvinar vitae tincidunt non, vestibulum non mauris. Nunc fermentum quis risus eget iaculis. Phasellus ac nisl dictum ligula auctor tempus quis rhoncus mi. Cras quis massa a risus fringilla ornare. Ut vitae pharetra purus. Curabitur tellus eros, ornare bibendum elementum commodo, luctus hendrerit arcu. Pellentesque porttitor venenatis justo quis blandit. Sed ac iaculis tellus, eget congue enim. Suspendisse sed aliquam nisi.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sollicitudin nibh ut purus volutpat, ac porttitor orci congue. Vestibulum eu metus convallis enim porta luctus ac vulputate augue. Mauris tristique tincidunt felis, a mattis nisi auctor quis. Vestibulum augue elit, pulvinar vitae tincidunt non, vestibulum non mauris. Nunc fermentum quis risus eget iaculis. Phasellus ac nisl dictum ligula auctor tempus quis rhoncus mi. Cras quis massa a risus fringilla ornare. Ut vitae pharetra purus. Curabitur tellus eros, ornare bibendum elementum commodo, luctus hendrerit arcu. Pellentesque porttitor venenatis justo quis blandit. Sed ac iaculis tellus, eget congue enim. Suspendisse sed aliquam nisi.
      </p>
    </div>
  </div>
  <br><br>
</section>
