---
title: bech Smartly -  seekh kar bech, smartly bech.
---
<header id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <%= image_tag 'logo.png', :class => 'display-logo' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3 class="title special-font">A workshop series on “How to become a better service provider” for existing and budding providers like Travel agents, Real Estate agents, Insurance agents etc.</h3>
        <br>
        <p>
          Broken down into 5 sessions, this series aims to empower today’s service providers. A service provider today, needs better understanding about their customers to serve them better, thus leading to a professional growth.
          <br><br>
          <mark>The first introductory session is absolutely FREE of cost</mark>, so that you can get a good idea about the entire series. Do not hesitate to register!<br>
        </p>
        <br>
        <p class="ctx-center-big"><span class="underline">Kindly scroll below to know more</span> &nbsp;&nbsp;&nbsp;&#8595;</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'graphics.png', :class => 'graphic' %>
      </div>
    </div>
  </div>
  <br>
</header>

<nav>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#"><%= image_tag "logo-w-tx.png", :class=> 'nav-logo' %></a>
      </div>
      <div class="col-md-9 content-right nav-main">
        <ul class="nav">
          <li> <a href="#hero" style="display:none;">Home</a> </li>
          <li> <a href="#about-series">About this series</a> </li>
          <li> <a href="#how-it-helps">How does it help you</a> </li>
          <li> <a href="#faqs">FAQs</a> </li>
          <li> <a href="#people-saying">What people are saying</a> </li>
          <li> <a href="#contact-us">Contact Us</a> </li>
          <li> <a href="#about-us">About us</a> </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<section class="content-para" id="about-series">
  <hr class="green-line">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="title">About this series</h1>
        <br>
        <h3>Upcoming introductory session</h3>
        <div class="pre">
          <div class="bold">Topic</div>
          <div>“Changing Trends in Service Industry”</div>
          <br>
          <div class="bold">Venues &amp; Dates</div>
          <div>Thane 22th May, CBD Belapur 23rd May, Goregaon 24th May</div>
          <br>
          <div class="bold">Timings</div>
          <div>Morning slot (&nbsp;11am-2pm&nbsp;) &amp; Evening Slot (&nbsp;3pm-6pm&nbsp;)</div>
          <br>
          <div class="bold">Speaker</div>
          <div>Sonu Bajaj <span class="small">(CEO In-Focus)</span></div>
          <br>
          <div class="bold">Price</div>
          <div>FREE (<del>₹ 1500</del>)</div>
        </div>
        <br><br>
        <h3>The entire series</h3>
        <table class="table">
          <% data.series.series.each_with_index do |data, index| %>
          <tr class="series-row">
            <td>#<%= index+1 %></td>

            <td class="bold">
              <%= data.keys.first %>
              <span class="desc">
                <ul>
                  <% data.values.first.each do |desc| %>
                  <li><%= desc %></li>
                  <% end %>
                <ul>
              </span>
            </td>
            <td>
              <span class="glyphicon glyphicon-plus-sign"></span>
              <span class="glyphicon glyphicon-minus-sign"></span>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="col-md-5">
        <div class="register-container">
          <dialog id="register" data-spy="affix" data-offset-top="710" class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Upcoming introductory session</h3>
            </div>
            <div class="pre col-md-11 ctx-mrgn-s">
              <div class="bold">Topic</div>
              <div>“Changing Trends in Service Industry”</div>
              <div class="bold ctx-mrgn-s">Venues &amp; Dates</div>
              <div>Thane 22th May, CBD Belapur 23rd May, Goregaon 24th May</div>
              <div class="bold ctx-mrgn-s">Price</div>
              <div>FREE (<del>₹ 1500</del>)</div>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
              </span>
              <input type="text" class="form-control" placeholder="Full Name (e.g John Doe)">
            </div>
            <div class="input-group ctx-mrgn-m">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-envelope"></span>
              </span>
              <input type="email" class="form-control" placeholder="Email (e.g abc@domain.com)">
            </div>
            <div class="input-group ctx-mrgn-m">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-phone"></span>
              </span>
              <input type="text" class="form-control" placeholder="Mobile (e.g +91-9876543210)">
            </div><br>
            <div class="content-center">
              <button type="button" class="btn btn-primary btn-lg">Register now</button>
            </div>
          </dialog>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-para" id="how-it-helps">
  <hr class="green-line">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="title">How does it help you</h1>
        <br><br>
        <% data.benefits.benefits.each do |benefit| %>
          <p class="benefit">
            <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;
            <%= benefit %><br>
          </p><br>
        <% end %>
      </div>
    </div>
  </div>
  <br>
</section>

<section class="content-para" id="faqs">
  <hr class="green-line">
  <div class="container">
    <div class="col-md-7" id="container">
      <h1 class="title">FAQs</h1>
      <br><br>
      <div class="list-group">
        <% data.faqs.faqs.each_with_index do |faq, index| %>
          <a href="#" class="list-group-item faq <%= 'current' if index == 0 %>">
            <div class="list-group-item-heading">
              <span class="col-md-1">Q: </span> <span class="col-md-10"><%= faq.q %></span>
              <span class="clearfix"></span>
              <span class="glyphicon glyphicon-plus-sign"></span>
              <span class="glyphicon glyphicon-minus-sign"></span>
            </div>
            <p class="list-group-item-text"><span class="col-md-1"><small>Ans: </small></span><small class="col-md-10"><%= faq.a %></small></p>
            <span class="clearfix"></span>
          </a>
        <% end %>
      </div>
      <br>
    </div>
  </div>
</section>

<section class="content-para green-textured-back" id="people-saying">
  <div class="container">
    <div class="col-md-8" id="container">
      <h1 class="title">What people are saying</h1>
      <br><br><br>
      <%= image_tag 'sticky5-new.png', :class => 'sticky sticky1' %>
      <%= image_tag 'sticky2-new.png', :class => 'sticky sticky2' %>
      <%= image_tag 'sticky3-new.png', :class => 'sticky sticky3' %>
      <%= image_tag 'sticky4-new.png', :class => 'sticky sticky4' %>
      <%= image_tag 'sticky1-new.png', :class => 'sticky sticky5' %>
    </div>
  </div>
  <br><br>
</section>

<section class="content-para" id="contact-us">
  <hr class="green-line">
  <div class="container">
    <div class="col-md-7" id="container">
      <h1 class="title">Contact us</h1>
      <br><br>
      <p>&nbsp;&nbsp;You can easily reach us here:</p><br>
      <div class="col-md-5">
        <p class="clearfix">
          <span class="col-md-2 ctx-no-pad"><span class="glyphicon glyphicon-map-marker ctx-glyph-red"></span></span>
          <span class="col-md-10 ctx-no-pad">Shop no. 45, Bhanumati Shopping Complex, Bangur Nagar, Goregaon (W), Mumbai - 400090</span>
        </p>
        <p class="clearfix">
          <span class="col-md-2 ctx-no-pad"><span class="glyphicon glyphicon-phone ctx-glyph-red"></span></span>
          <span class="col-md-10 ctx-no-pad">022-9876-5432, +91-9876543210</span>
        </p>
        <p class="clearfix">
          <span class="col-md-2 ctx-no-pad"><span class="glyphicon glyphicon-envelope ctx-glyph-red"></span></span>
          <span class="col-md-10 ctx-no-pad">support@bechsmartly.in</span>
        </p>
      </div>
      <div class="col-md-7 content-right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.650527674107!2d72.83351365!3d19.166768900000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b65c014f4753%3A0x8659bbde56647301!2sBhanumati!5e0!3m2!1sen!2s!4v1395997120021" frameborder="0" height="350" width="450" class="map"></iframe>
      </div>
    </div>
  </div>
  <br>
</section>

<section class="content-para" id="about-us">
  <hr class="green-line">
  <div class="container">
    <div class="col-md-7" id="container">
      <h1 class="title">About us</h1>
      <br><br>
      <%= partial 'about' %>
    </div>
  </div>
  <br><br>
</section>
